body {
    position: relative;
    height: 100%;
}
.tpl {
    border: dashed thin blue;
}
#football {
    width: 80%;
    margin:auto;
}
#range {
    width:100%;
    height:25px;
}
.table {
    text-align: center;
    table-layout: fixed;
}
#valuations {
    width: 100%;
    height:100%;
}
#valuation {
    width:100%;
    height:35px;
}
svg {
    width: 100%;
    height: 100%;
}
